# Ignora node_modules (Node.js)
node_modules/

# Ignora archivo de clave privada de Firebase Admin SDK
serviceAccountKey.json

# Ignora archivos del entorno de Node.js
package.json
package-lock.json
setAdminRole.js

# Ignora VSCode (opcional si usás este editor)
.vscode/

# Ignora carpetas de sistema (Windows/Mac)
.DS_Store
Thumbs.db

# Ignora carpetas de producción temporales (si se usan)
dist/
build/
